# Environment variables for the backend application
----------------------------------------------------------------------------------------------------------------------
GA4_MULTI_TENANT=true
DEV_GA4_PROPERTY_ID=properties/YOUR_DEV_PROPERTY_ID
CLIENTS_REGISTRY_PATH=./instance/clients.json

# SERanking API Base URL
SERANKING_BASE_URL=https://api4.seranking.com

# SERanking API Key
SERANKING_API_KEY=YOUR_SECRET_KEY

# OpenAI API Key
OPENAI_API_KEY=YOUR_SECRET_KEY

----------------------------------------------------------------------------------------------------------------------
# Flask secret key for WordPress-Flask integration
FLASK_SECRET_KEY=YOUR_SECRET_KEY

# WordPress Login URL
WORDPRESS_AUTH_URL=https://your-domain.com/report/wp-admin

# WordPress API Base URL (for fetching posts, pages, etc.)
WORDPRESS_API_BASE_URL=https://your-domain.com/report/wp-json/wp/v2
WP_API_USERNAME=your_wp_username
WP_API_APPLICATION_PASSWORD=YOUR_APP_PASSWORD

PDF_COVER_CATEGORY_ID=3
PDF_BACK_COVER_CATEGORY_ID=4

----------------------------------------------------------------------------------------------------------------------

# Flask configuration
FLASK_ENV=development # Flask environment (development, production)
